/* Center header and add box around it. Change font. */
.main-header {
    max-width: fit-content;
    background-color: bisque;
    padding: 8px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Center image and display as a cropped square without stretching. */
img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 24px auto;
    object-fit: cover;
    object-position: 0px -100px;
}

.main-body {
    background-color: bisque;
    max-width: 50%;
    margin: 8px auto 0px;
    padding: 4px 4px 0px 4px;
    display: flex;
}

p {
    background-color: rgba(0, 255, 255, 0.2);
    width: 50%;
    text-align: center;
    padding-top: 16px;
}

ul {
    background-color: olivedrab;
    flex-grow: 1;
}

.button-container {
    background-color: bisque;
    max-width: 50%;
    margin: 0px auto;
    padding: 4px;
}

button {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: block;
    padding: 4px;
    margin: 16px auto;
}

button:hover {
    background-color: violet;
}

button:active {
    background-color:red;
}

.button-link {
    text-decoration: none;
    color: black;
}

.second-div p {
    background-color: orange;
    padding: 40px;
    width: 50%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    background-color: firebrick;
    color: antiquewhite;
    width: 50%;
    margin: 0 0 0 50%;
    text-align: right;
}